*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height:auto;
    padding: 10px;
    background-color: #1A0B2E;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto; 
    padding: 24px 200px; 
    margin: 0 auto;
}

nav h1{
    color: #ffffff;
}
.color-font{
    background: linear-gradient(
        to top,
        #F7E93F 0%,
        #FB09B4 51%,
        #9100F8 100%
        );
    background-clip: text;
    color: transparent;
}

div ul{
    display: flex;
    gap: 32px;
    align-items: center;
    list-style: none;
    
}
li a{
    text-decoration: none;
    color: #ffffff;
}
.btn{
    background: linear-gradient(
        to top right,
        #F7E93F 0%,
        #FB09B4 51%,
        #9100F8 100%
    );
    color: #ffffff;
    padding: 12px 16px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    border: none;
}

header hr {
  border: none;
  height: 1px;
  background-color: #371d5b;
  width: 100%;
  max-width: 1600px;
}

/* Header Banner Section */

.banner{
    background: 
    url("./assets/hero-circle.png"),
    url("./assets/hero-bg.png") ;

    background-repeat: 
    no-repeat, no-repeat;

    background-position: 
    center 101px,
    center center;
    
    background-size: cover cover;
    height: 760px;

    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
 }
 .banner img{
    max-width: 200px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -110%);
    /* position: static;
    transform: none; */
 } 
 .btn-green{
    background: #00FF88;
    color: #1A0B2E;
    padding: 12px 20px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    box-shadow: 5px 5px 15px 0px rgba(70, 255, 30, 0.3);
    position: relative;
    top: 38%;
    left: 48%;
    transform: translateY(-700%);
 }

 .subscribe-btn{
    border:1px solid green;
    padding: 12px 20px;
    border-radius:25px;
    font-weight: 600;
    color: green;
    background: transparent;
 }
 .banner-bottom{
    width: 100%;
    height: auto;
    padding: 40px;
    margin: 250px auto;
 }
 .banner-bottom h1{
    text-align: center;
    color: #ffffff;
    font-size: 60px;
    font-weight: 900;
 }
 .banner-bottom p{
    font-size:16px;
    color: #ffffff;
    margin-top: 8px;
    text-align: center;
    margin-bottom: 25px;
 }
 .header-banner-button{
    display: flex;
    justify-content: center;
    gap: 10px;
 }

 
/* ABOUT SECTION STARTS HERE(Office) */

.about-container{
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color:#1A0B2E;
    padding: 50px;
}


.about-info{
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.about-info h1{
    color: #ffffff;
    font-weight: 700;
    font-size: 48px;

}
.about-info p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 16px;
    width: 100%;
    max-width: 1200px;
    text-align: center;
    margin-top: 16px;
    
    }

    .about-info p:last-child{
        margin-top: 60px;
    }

.about-cards{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 80px auto;
    color: #ffffff;
    text-align: center;
}

.about-container hr {
  border: none;
  height: 1px;
  background-color: #371d5b;
  margin: 80px auto;
  width: 100%;
  max-width: 1200px;
}

.about-cards h1{
    color: #00FF88;
    font-size: 48px;
    padding: 10px;

}

/* Choose Container */

.choose-caption h1{
    margin-top: 120px;
    margin-bottom: 40px;
    text-align: center;
    color: white;
    font-size: 48px;
    font-weight: 700;
}

.choose-container{
    width: 100%;
    height: auto;
    margin: 0px auto;
    background-color: #230E3D;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.choose-info-container{
    width: 100%;
    height: auto;
    padding: 20px 200px;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 30px;
}

/* Choose Card One */
.choose-card-one{
    background-color: #351165;
    border-radius: 10px;
    grid-column: span 1;
    grid-row: span 2;
}
.choose-card-one img{
    width: 60px;
    margin-top: 107px;
    margin-left: 40px; 
}
.choose-card-one h1{
    color: white;
    padding: 16px 40px; 
    font-size: 24px;
    font-weight: 700;
}
.choose-card-one p{
    color: #627382;
    line-height: 24px;
    font-size: 16px;
    max-width: 300px;
    margin-left: 40px;
    margin-bottom: 107px;
} 

/* Choose Card Two */
.choose-card-two{
   background-color: #351165;
    border-radius: 10px;
    grid-column: span 2;
    grid-row: span 1;
   
}

.choose-card-two img{
    width: 60px;
    margin-top: 40px;
    margin-left: 40px;
}
.choose-card-two h1{
    color: white;
    padding: 16px 40px; 
    font-size: 24px;
    font-weight: 700;
}
.choose-card-two p{
    color: #627382;
    line-height: 24px;
    font-size: 16px;
    margin-left: 40px;
    margin-bottom: 40px;
} 


/* Choose Card Three */

.choose-card-three{
   background-color: #351165;
    border-radius: 10px;
    grid-column: span 2;
    grid-row: span 1;
}

.choose-card-three img{
    width: 60px;
    margin-top: 40px;
    margin-left: 40px;
}
.choose-card-three h1{
    color: white;
    padding: 16px 40px; 
    font-size: 24px;
    font-weight: 700;
}
.choose-card-three p{
    color: #627382;
    line-height: 24px;
    font-size: 16px;
    margin-left: 40px;
    margin-bottom: 40px;
} 

/* Choose Card Four */

.choose-card-four{
    background-color: #351165;
    border-radius: 10px;
    grid-column: span 2;
    grid-row: span 1;
   
}
.choose-card-four img{
    width: 60px;
    margin-top: 40px;
    margin-left: 40px;
}
.choose-card-four h1{
    color: white;
    padding: 16px 40px; 
    font-size: 24px;
    font-weight: 700;
}
.choose-card-four p{
    color: #627382;
    line-height: 24px;
    font-size: 16px;
    margin-left: 40px;
    margin-bottom: 40px;
} 

/* Choose Card Five */
.choose-card-five{
   background-color: #351165;
    border-radius: 10px;
    grid-column: span 1;
    grid-row: span 1;
}

.choose-card-five img{
    width: 60px;
    margin-top: 40px;
    margin-left: 40px;
}
.choose-card-five h1{
    color: white;
    padding: 16px 40px; 
    font-size: 24px;
    font-weight: 700;
}
.choose-card-five p{
    color: #627382;
    line-height: 24px;
    font-size: 16px;
    margin-left: 40px;
    margin-bottom: 40px;
} 


/* Featured Section */

.featured-container{
    width: 100%;
    height: auto;
    margin: 0px auto;
    background-color: #230E3D;

    display: flex;
    flex-direction: column;
    align-items: center;

 }
.featured-caption h1{
    margin-top: 120px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color: #ffffff;
}

.choose-featured-card{
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    }

  .featured-card-one{
    width: 100%;
    max-width: 380px;
    height: auto;
    background-color: #351165;
    gap: 10px;
    border-radius: 20px;
  }

.featured-card-one iframe{
    border-radius: 20px;
}
.featured-card-one h3{
    font-size: 24px;
    font-weight: 700;
    padding: 20px;
}
.featured-card-one p{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
    margin-left: 24px;
    margin-right: 24px;
}
.time{
    color: #00FF88;
    font-size: 16px;
    font-weight: 600;
    
}

/* Featured Card Two */

.featured-card-two{
    width: 100%;
    max-width: 380px;
    height: auto;
    background-color: #351165;
    gap: 10px;
    border-radius: 20px;
  } 
  
.featured-card-two iframe{
    border-radius: 20px;
}
.featured-card-two h3{
    font-size: 24px;
    font-weight: 700;
    padding: 20px;
}
.featured-card-two p{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
    margin-left: 24px;
    margin-right: 24px;
}
  /* Featured Card Three */

 .featured-card-three{
    width: 100%;
    max-width: 380px;
    height: auto;
    background-color: #351165;
    gap: 10px;
    border-radius: 20px;
  }
  
.featured-card-three iframe{
    border-radius: 20px;
}
.featured-card-three h3{
    font-size: 24px;
    font-weight: 700;
    padding: 20px;
}
.featured-card-three p{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
    margin-left: 24px;
    margin-right: 24px;
}


  /* Featured Bottom Section */
  .featured-bottom-caption h1{
    margin-top: 120px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color: #ffffff;
}

.featured-bottom-card{
    width: 100%;
    max-width: 1200px;
    height:auto;
    background-color: #351165;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 40px;
    border-radius: 40px;

    }

 .featured-bottom-card-one{
    width: 100%;
    max-width: 200px;
    height: auto;
    gap: 10px;

  }

   .featured-bottom-card-two{
    width: 100%;
    max-width: 896px;
    height: auto;
    gap: 10px;

  }

  .featured-bottom-card-two h1{
    font-size: 32px;
    font-weight: 700;
  }
  .featured-bottom-card-two p{
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
    max-width: 896px;
    height:auto;
  }
  .social-logos{
    display: flex;
    gap: 10px;
    height: auto;
    margin-top: 16px;
  }
  .social-logos img{
    width: 40px;
    height: auto;
    border-radius: 50%; 
    border: 1px solid white ;
    padding: 5px; 
    
  }  

  /* Footer Section */
 footer{
    width: 100%;
    height: auto;
    padding: 120px;
    background: url(./assets/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 }
.footer-container{
    margin: 0 auto;
    width: 100%;
    height: auto;
}
 .footer-title h1{
    font-size:54px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
 }

 .footer-social-logos{
    display: flex;
    justify-content: center;
    gap: 10px;
 }

 .footer-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .footer-logo img, .footer-logo p{
    padding: 20px;
    color: white;
 }

 .footer-copy{
    color: white;
    text-align: center;
    margin-top: 12px;
 }


 /* RESPONSIVE FOR SM DEVICES(MW 576PX) STARTS HERE*/
 
 