*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background: url(./assets/);
    width: 100%;
    background-color: #1A0B2E;
}

nav{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 92px;  
    margin: 0 auto;

}
nav h1{
    color: #ffffff;
}
.color-font{
    background: linear-gradient(
        to top,
        #F7E93F 0%,
        #FB09B4 51%,
        #9100F8 100%
        );
    background-clip: text;
    color: transparent;
}

div ul{
    display: flex;
    gap: 32px;
    align-items: center;
    list-style: none;
    
}
li a{
    text-decoration: none;
    color: #ffffff;
}
.btn{
    background: linear-gradient(
        to top right,
        #F7E93F 0%,
        #FB09B4 51%,
        #9100F8 100%
    );
    color: #ffffff;
    padding: 12px 16px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    border: none;
}

/* Header Banner */
.banner{
    background: 
    url("./assets/hero-circle.png"),
    url("./assets/hero-bg.png")
    ;
    background-repeat: 
    no-repeat, no-repeat;
    background-position: center, center;
    background-size: cover cover;
    height: 760px;
 }
 img{
    max-width: 200px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
 } 
 .btn-green{
    background: green;
    color: #000000;
    padding: 12px 20px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    box-shadow: 5px 5px 15px 0px rgba(70, 255, 30, 0.3);
    position: relative;
    top: 50%;
    left: 48%;
    transform: translateY(-700%);
 }

 .subscribe-btn{
    border:1px solid green;
    padding: 12px 20px;
    border-radius:25px;
    font-weight: 600;
    color: green;
    background: transparent;
 }
 .banner-bottom{
    width: 100%;
    margin-top: 400px;
    margin-left: 700px;

    
 }

 
